*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenido{
    width: 95%;
    text-align: center;
    vertical-align:middle;
    
    color:inherit;
    padding:20px;
    margin:auto; 
    background: white;
    border: #cccccc57 .03px solid;
}
p{
    color:black;
    text-align: left;
}
h1,
h2,
h3
{
    text-align: center;
    color: rgb(0, 0, 0);
}

body{
align-content: center;
    background: rgb(211, 211, 211);
    color:black;
}

nav{
    padding: 20px;
    display: block;
    text-decoration: none;
    width: 100%;
    background: rgba(152, 76, 0, 0.696);
    
}
nav li{
    display: inline;
    text-decoration: none;
    padding: 10px;
    font-size: larger;
    color: white;
    
    
}
li a{
    align-items: flex-end;
    color: white;
    text-decoration: none;
}

header{
    width: 98%;
    padding-top: 100px;
    
    background: url(/img/giphy\ 3.gif) no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    min-height: 50dvh;
}
footer{
    padding: 40px;
    width: 100;
    padding-top: 20px;
    background-color: transparent;
    position: relative;
    padding-bottom: 0;
}