*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenido{
   max-width:  100%;
    height: fit-content;
    
    display: flex;
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.47);
    text-align: center;
    padding: 2% 25%;
    
}
p{
    color:red;
}
h1,
h2,
h3
{
    text-align: center;
    color: rgb(0, 0, 0);
}

body{
align-content: center;
    background: rgb(211, 211, 211);
    color:black;
}

nav{
    padding: 80px;
    display: block;
    text-decoration: none;
    width: 100%;
    background: rgba(152, 76, 0, 0.696);
    
}
nav li{
    display: inline;
    text-decoration: none;
    padding: 10px;
    font-size: larger;
    color: white;
    
    
}
li a{
    align-items: flex-end;
    color: white;
    text-decoration: none;
}

header{
    width: 100%;
    padding-top: 100px;
    
    background: url;
    background-size: cover;
    background-position: center;
    min-height: 50dvh;
}
footer{
    padding: 40px;
    width: 100;
    padding-top: 20px;
    background-color: transparent;
    position: relative;
    padding-bottom: 0;
}